@model IEnumerable<NZWalks.Web.Models.DTO.RegionDto>

<h1 class="mt-3">Regions</h1>

<div>
    <a asp-action="Add" asp-controller="Regions" class="btn btn-secondary">Add Region</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var region in Model)
        {
            <tr>
                <td>@region.Id</td>
                <td>@region.Code</td>
                <td>@region.Name</td>
                <td>
                    <a asp-controller="Regions" asp-action="Edit" asp-route-id="region.Id" class="btn btn-light">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>