@model IEnumerable<NZWalks.Web.Models.RegionDto>

<h1 class="mt-3">Regions</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var region in Model)
        {
            <tr>
                <td>@region.Id</td>
                <td>@region.Code</td>
                <td>@region.Name</td>
            </tr>
        }
    </tbody>
</table>